.home {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.card-picture {
  width: 18rem;
}

.favoritos {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.botonfavorito {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #E07A5F;
}
